body
{
    margin:             0;
    font-family:        tahoma, Arial, Helvetica, sans-serif;
    font-size:          small;
    background:         white url(/resources/bodyimages/body.png) no-repeat;
    background-repeat:  repeat-y;
    color:              #40445c;
}

#container{
    width:      900px;
    margin:     auto auto;
}


.logo a{
    display:        block;
    width:          900px;
    height:         100px;
    overflow:       hidden;
    text-indent:    -9999px;   /* Hide the text */
    background:     url(/resources/bodyimages/header.png) no-repeat;
    padding: 0;
}

/* Page stuff now */
.page{
    width:  900px;
    padding:    5px 5px 25px 5px;
    background: white;
    margin: 0px 0px 0px 0px;
}

/* Some table stuff now */
.showList
{
    width:              100%;
    border:             2px;
    margin:             2;
    padding:            0;
    border-collapse:    collapse;
    border-spacing:     2px;
    text-align:         left;
    vertical-align:     top;
    font-size:          small;
}

tr.even
{
    background: #e0e0e0;
}



/*
 * Information table for single show information
 */
.oneShowInfoTable
{
    font-size:          normal;
    border:             0;
    border-spacing:     0;
}

.oneShowInfoLeft
{ 
    text-align:         right; 
}

.oneShowInfoCentre
{
}

.oneShowInfoRight
{ 
}






.photoTile {
    -moz-border-radius:     5px;
    border-radius:          5px;
    padding:                0.2cm;
    float:                  left;
    width:                  270px;
    height:                 270px;
    border:                 thin gray ridge;
    margin:                 0.1cm;
    text-align:             center;
    font-family:            Patrick Hand;
    background:             #e0e0e0;
}


.photoTile img
{
  display: inline-block;
}

.photoTileTableEntry
{
    margin-top: 40px;
}

.quote
{
    font-family:        Bookman Old Style;
    font-size:          smaller;
    font-style:         italic;
}


/*
 * http://www.hongkiat.com/blog/breadcrumb-menu-css3/
 */

.crumbs { display: block; }
.crumbs li {  display: inline; }
.crumbs li.first { padding-left: 8px; }
.crumbs li a,
.crumbs li a:link,
.crumbs li a:visited {
    color: #666;
    display: block;
    float: left;
    font-size: normal;
    margin-left: -13px;
    padding: 7px 17px 11px 25px;
    position: relative;
    text-decoration: none;
}
.crumbs li a {
    background-image: url('cssresources/bg-crumbs.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: relative;
}
.crumbs li a:hover {
    color: #333;
    background-position: 100% -48px;
    cursor: pointer;
}
.crumbs li a:active {
    color: #333;
    background-position: 100% -96px;
}
.crumbs li.first a span {
    height: 29px;
    width: 3px;
    border-left: 1px solid #d9d9d9;
    position: absolute;
    top: 0px;
    left: 0px;
}
