<div class="container-fluid">
    <div class="row-fluid">
		<h2>{{showName}}</h2>

		<!-- Show information table -->
		<table>
		    <tr ng-repeat="row in showInfo.infoTable">
		    	<td class="bodycell-left">{{row.heading}}</td>
			    <td class="bodycell-right">{{row.value}}</td>

			</tr>
		</table>

		<!-- Top HTML -->
		<div ng-bind-html="topHtmlFile"></div>


		<!-- Show photos -->
		<div ng-repeat="photo in showInfo.photographs" class="photoTile">
			<a href="{{photo.large}}"><img src="{{photo.small}}"></a>
			<br/>{{photo.title}}
		</div>


		<!-- Bottom HTML -->
		<div ng-bind-html="bottomHtmlFile"></div>

	</div>
</div>
